img {
  align: center;
  width: 10%;
  height: 10%;
}

.topnav {
    background-color: #049fd8;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #000080;
}

.topnav a.active {
    background-color: #000080;
    color: white;
}
